# Virtual Environment (Το πιο σημαντικό!)
Johnvenv/

# Python bytecode (Προσωρινά αρχεία εκτέλεσης)
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings (Προσωπικές ρυθμίσεις editor)
.vscode/

# Logs και προσωρινά αρχεία
*.log
firestore-debug.log

# Data (Αν τα αρχεία στον φάκελο data είναι μεγάλα, καλό είναι να μην ανεβούν)
data/
